# config for myems_system_db
MYEMS_SYSTEM_DB_HOST=127.0.0.1
MYEMS_SYSTEM_DB_PORT=3306
MYEMS_SYSTEM_DB_DATABASE=myems_system_db
MYEMS_SYSTEM_DB_USER=root
MYEMS_SYSTEM_DB_PASSWORD=!MyEMS1

# config for myems_historical_db
MYEMS_HISTORICAL_DB_HOST=127.0.0.1
MYEMS_HISTORICAL_DB_PORT=3306
MYEMS_HISTORICAL_DB_DATABASE=myems_historical_db
MYEMS_HISTORICAL_DB_USER=root
MYEMS_HISTORICAL_DB_PASSWORD=!MyEMS1

# Get the gateway ID and token from MyEMS Admin
GATEWAY_ID=1
GATEWAY_TOKEN=983427af-1c35-42ba-8b4d-288675550225

MYEMS_MQTT_LOG_LEVEL=INFO

# local publisher defaults
MYEMS_MQTT_TEST_BROKER_HOST=127.0.0.1
MYEMS_MQTT_TEST_BROKER_PORT=1883
MYEMS_MQTT_TEST_BROKER_USERNAME=
MYEMS_MQTT_TEST_BROKER_PASSWORD=
MYEMS_MQTT_TEST_TOPIC=testtopic
MYEMS_MQTT_TEST_QOS=0
MYEMS_MQTT_TEST_DATA_SOURCE_ID=10001
MYEMS_MQTT_TEST_POINT_ID=10001