<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">{{operation | translate}}(ID:{{menuTemplate.id}})</h4>
    </div>
    <div class="modal-body">
        <form role="form" name="form_menu_template" novalidate class="form-horizontal">
            <div class="form-group"><label class="col-sm-3 control-label">{{'SETTING.NAME' | translate}}<span class="text-danger">*</span></label>
                <div class="col-sm-9">
                    <input ng-model="menuTemplate.name" type="text" name="menuTemplateName" class="form-control" title="{{'SETTING.NAME' | translate}}" placeholder="{{'SETTING.INPUT_NAME' | translate}}" required>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-3 control-label">模板类型</label>
                <div class="col-sm-9">
                    <select ng-model="menuTemplate.template_type" class="form-control" title="模板类型" ng-options="option.value as option.label for option in templateTypeOptions"></select>
                    <span class="help-block" ng-if="isHybridSelected()">双端模板会同时保存管理端和用户端菜单权限。</span>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group" ng-if="showAdminMenus()"><label class="col-sm-3 control-label">Admin Menus</label>
                <div class="col-sm-9 menu-template-list-scroll">
                    <div class="checkbox checkbox-success" ng-repeat="menu in adminMenus track by menu.state">
                        <input id="menu_template_admin_route_{{menu.state | lowercase | limitTo: 128}}" type="checkbox" ng-checked="isRouteSelected(menu, 'admin')" ng-click="toggleRoute(menu, 'admin')">
                        <label for="menu_template_admin_route_{{menu.state | lowercase | limitTo: 128}}">{{getMenuDisplayName(menu)}}</label>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed" ng-if="showAdminMenus() && showWebMenus()"></div>
            <div class="form-group" ng-if="showWebMenus()"><label class="col-sm-3 control-label">Web Menus</label>
                <div class="col-sm-9 menu-template-list-scroll">
                    <div class="checkbox checkbox-success" ng-repeat="menu in webMenus track by menu.state">
                        <input id="menu_template_web_route_{{menu.state | lowercase | limitTo: 128}}" type="checkbox" ng-checked="isRouteSelected(menu, 'web')" ng-click="toggleRoute(menu, 'web')">
                        <label for="menu_template_web_route_{{menu.state | lowercase | limitTo: 128}}">{{getMenuDisplayName(menu)}}</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">{{'SETTING.CANCEL' | translate}}</button>
        <button type="button" ng-disabled="form_menu_template.$invalid" class="btn btn-primary" ng-click="ok()">{{'SETTING.SAVE' | translate}}</button>
    </div>
</div>